.video{
    width: 100%;
    overflow-x: hidden;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoinner{
    width: 90%;
    height: 90%;
    border: 3px solid #a492c4;
    border-radius: 20px;
}
.videoinner video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
