@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=The+Nautigal:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
.app{
  background-color: #f9f5ff;
}
.largescreenmesage{
  background-color: #f9f5ff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.largescreenmesage h1{
  font-family: monospace;
  text-align: center;
  color: #1a1a1a;
  opacity: .8;
}
.largescreenmesage h4{
  font-family: 'Courier New', Courier, monospace;
  color: #1a1a1a;
  opacity: .8;
}
.messageicon{
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  color: #a492c4;
  opacity: .8;
}